@import url(./fonts.css);
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Poppins";
  /*background: -webkit-gradient(linear, left top, left bottom, from(#0e249c), to(#0D1940));*/
  background-color: #0d0d0d;
}
/*Barra de navegação*/
nav{
  padding: 9px;
}
.logo img {
  margin: -20px 0 -10px 0;
  width: 140px;
  height: 70px;
}
.logo {
  float: left;
  padding: 8px;
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 15px;
}
.logo a {
  color: #f2efeb;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0px;
  text-decoration: none;
}
.row-imgs{
  width: 100%;
  height: 70vh;
}
nav ul {
  float: right;
}

nav ul li{
  display: inline-block;
}
nav ul li:not(:first-child){
  margin-left: 48px;
}
nav ul li:last-child{
  margin-right: 14px;
}
nav ul li a{
  display: inline-block;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1.2px;
  font-weight: 600;
}
.hidden{
  display:none;
}
/*Fim da barra de navegação*/

/*Parte da responsividade*/
@media screen and (max-width: 864px) {
  .logo {
    padding: 0;
    width: 33%;
  }
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-wrapper ul li a {
    display: flex;
    padding: 10px 24px;
    opacity: 0;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateY(-20px);
    transition: all 0.2s ease;
    justify-content: center;
    align-items: center;
  }
  .nav-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
  #nav:checked + .nav-btn {
    transform: rotate(45deg);
  }
  #nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2 ease;
  }
  #nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
  }
  #nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
  }
  #nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
  }
  #nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
  }
  #nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
  }
  .hidden {
    display: none;
  }
}
/*Fim da parte da responsividade*/

/*Configuração do slider*/
#slide{
  overflow: hidden;
}
#slide figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: slider 10s linear infinite;
}
#slide img {
  width: 20%;
  float: left;
}
@keyframes slider{
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%;
  }
}
/*Fim da configuração do slide*/

/*Linha de separação*/
.row1{
  height: 70px;
}
.row2 .col{
  background-color: white; 
  height: 4px;
}
/*Fim da linha de separação*/
.fotos img{
  width: 100%;
}
.icon-login img{
  width: 20px;
}

/*Tabela*/
.centralizar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.lista h3{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-tabela{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px RGBA(241,109,32,0.93);
}

.content-tabela thead tr{
  background-color: #F16D20;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.content-tabela th,
.content-tabela td{
  padding: 12px 15px;
}

.content-tabela tbody tr{
  color: #fff;
  border-bottom: 1px solid #dddddddd;
}

.content-tabela tbody tr:nth-of-type(even){
  background-color: #000;
}

.content-tabela tbody tr:last-of-type{
  border-bottom: 2px solid #F16D20;
}


/*Fim da tabela*/

/*Botão novo na tabela*/
.btn{
  cursor: pointer;
  float: right;
  background-color:#F16D20;
  color: #fff;
  border: none;
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
}

.btn:hover{
  cursor: pointer;
  box-shadow: 0 0 20px RGBA(241,109,32,0.4);
  transition: transform 150ms;
  transform: scale(1.03);
}

.btn[disabled]:hover{
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
/*Fim do botão*/

/*Modal*/
.modal-bg{
  position: fixed;
  width: 100%;
  height: 100vh;
  top:0;
  left: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s opacity 0,5s;
}

.bg-active{
  visibility: visible;
  opacity: 1;
}

.modal{
  background-color: #fff;
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.modal button{
  padding: 10px 30px;
  background-color: #F16D20;
  color: #000;
  cursor: pointer;
}
/*Fim do modal*/